body {
    background-image: url('/static/images/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}
.container {
    position: relative;
    z-index: 1;
}
.card-body {
    background: rgba(255,255,255,0.0);
}
.card {
    background: rgba(255,255,255,0.0) !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    border: none !important;
}
.display-4.text-primary {
    font-size: 4.6875rem;
}
h1.display-4.text-primary.text-body-emphasis {
    color: #eeeded !important;
    font-weight: bold;
}
@media (max-width: 576px) {
    h1.display-4.text-primary.text-body-emphasis {
        font-size: 2.2000rem;
    }
}
